---
layout: default
title: Interactive Tour
menu: Interactive
category: Services
---
<section class="container">
    
  <section class="services-top">
        <div class="services-top-title">
            <h1 class="title">SERVICES</h1>
        </div>
        {% include services-menu.html participants=site.data.services_categories %}
    </section>
  
    <h1 class="animation__main-title">
        Townhouse
    </h1>

  <div class="animation">
    <div class="animation__video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/gas2RpAMr1Q" frameborder="0" allowfullscreen></iframe>
    </div>
    
    <div class="animation__buttons">
      <div class="animation__buttons-group">
        <div>
          <a href="https://drive.google.com/open?id=1GlHlNcGH8ONDLAagX09ksKrkN3xnlKCg" target="_blank" class="main-page__button main-page__button_animation-first">WIN x64</a>
        </div>  
        <!--<div>
          <a href="#" target="_blank" class="main-page__button">OS X</a>
        </div> -->
        <div>
          <a href="https://drive.google.com/open?id=1poXA4X8nPq2tnbAVK_zz6RSrtkzQlwUm" target="_blank" class="main-page__button">User Manual</a>
        </div>
      </div>
      <div class="animation__share">
        <span class="animation__share-text">Share</span>
        {% include share-links-small.html %}
      </div>
    </div>  
  </div>

  <div class="animation-recomend">
      
        <p  class="animation-recomend__text">
            This custom-designed townhouse lot balances elegant style and sleek 
            design using the finest materials throughout. No detail was overlooked 
            in the sophisticated well-designed floor plan that maximizes space,
            scale and light and provides a flowing formal expanse. 
            Modern features include laminate and tile floors, 
            beamed ceilings, bay windows, skylights, through the wall air
            conditioning system units, and top-of-the-line open floor 
            plan with a mezzanine. You are more than welcome to look around 
            and we promise you that you will be impressed by the quiet and lavish 
            surroundings.
        </p>
        <div class="animation-recomend__column animation-recomend__column_left">
            <h2 class="animation-recomend__title">Requirements:</h2>
            <p class="animation-recomend__text">Intel core i5 3570/AMD FX-8350 CPU, 8 GB RAM, Nvidia  GeForce GTX 760, 2Gb HDD space<br>
             Windows 7 and higher x64 ONLY</p>
            <h2 class="animation-recomend__title">Recommended:</h2>
            <p class="animation-recomend__text">Intel core i7 6800 CPU, 16 GB RAM, Nvidia  GeForce GTX 1060, 2Gb HDD space</p>
        </div>
        <div class="animation-recomend__column">
            <h2 class="animation-recomend__title">Oculus Rift and VR mode</h2>
            <h2 class="animation-recomend__title">Requirements:</h2>
            <p class="animation-recomend__text">Intel core i7 6800 CPU, 16 GB RAM, Nvidia  GeForce GTX 1060, 3 USB 3.0, HDMI, 2Gb HDD space</p>
        </div>
      
  </div> 
    
    <h1 class="animation__main-title">
        Brooklyn Apartment
    </h1>

  <div class="animation">
    <div class="animation__video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/PtlYRXfIgVU" frameborder="0" allowfullscreen></iframe>
    </div>
    
    <div class="animation__buttons">
      <div class="animation__buttons-group">
        <div>
          <a href="https://drive.google.com/open?id=1DtnHs67303MDcKKyAdCpH66MeRwOvADA" target="_blank" class="main-page__button main-page__button_animation-first">WIN x64</a>
        </div>  
        <!--<div>
          <a href="#" target="_blank" class="main-page__button">OS X</a>
        </div> -->
        <div>
          <a href="https://drive.google.com/open?id=1sWQgpeFD2pKrARo5V31KfkLcgjosjsn0" target="_blank" class="main-page__button">User Manual</a>
        </div>
      </div>
      <div class="animation__share">
        <span class="animation__share-text">Share</span>
        {% include share-links-small.html %}
      </div>
    </div>  
  </div>

  <div class="animation-recomend">
      
        <p  class="animation-recomend__text">
            With available tools and techniques like this, VR has a huge impact . 
            Immersion, a sense of technology is      breathtaking. The ability 
            to transfer us to environments that enhance interaction, making objects 
            live, interactive. The fact that it exceeds    physical limitations 
            is great. In combination with various social functions, technology 
            allows you to access anywhere and anytime.
        </p>
        <div class="animation-recomend__column animation-recomend__column_left">
            <h2 class="animation-recomend__title">Requirements:</h2>
            <p class="animation-recomend__text">Intel core i5 3570/AMD FX-8350 CPU, 8 GB RAM, Nvidia  GeForce GTX 760, 2Gb HDD space<br>
             Windows 7 and higher x64 ONLY</p>
            <h2 class="animation-recomend__title">Recommended:</h2>
            <p class="animation-recomend__text">Intel core i7 6800 CPU, 16 GB RAM, Nvidia  GeForce GTX 1060, 2Gb HDD space</p>
        </div>
        <div class="animation-recomend__column">
            <h2 class="animation-recomend__title">Oculus Rift and VR mode</h2>
            <h2 class="animation-recomend__title">Requirements:</h2>
            <p class="animation-recomend__text">Intel core i7 6800 CPU, 16 GB RAM, Nvidia  GeForce GTX 1060, 3 USB 3.0, HDMI, 2Gb HDD space</p>
        </div>
      
  </div> 
    
  <h1 class="animation__main-title">
    Apartment
  </h1>

  <div class="animation">
    <div class="animation__video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/VPJ-oTVvrBc" frameborder="0" allowfullscreen></iframe>
    </div>
    
    <div class="animation__buttons">
      <div class="animation__buttons-group">
        <div>
          <a href="https://drive.google.com/open?id=1ifAfN8U_Odd0rXGltosOiTLU4V_NXuoP" target="_blank" class="main-page__button main-page__button_animation-first">WIN x64</a>
        </div>  
        <div>
          <a href="https://drive.google.com/open?id=1y6uzg2Clmq17ns2ZpmrvsNSsL_IQRW2d" target="_blank" class="main-page__button">OS X</a>
        </div>
        <div>
          <a href="https://drive.google.com/open?id=1rslimEHFyN_JFVK6oD0NgvLxyGB6nqx4" target="_blank" class="main-page__button">User Manual</a>
        </div>
      </div>
      <div class="animation__share">
        <span class="animation__share-text">Share</span>
        {% include share-links-small.html %}
      </div>
    </div>  
  </div>

  <div class="animation-recomend">
      
        <p  class="animation-recomend__text">Experts and analysts of VR-industry team Polygonator converge in one recommendation - VR-project solves a real problem or greatly facilitates / reduces the cost of existing and working process!
Capitalizing on the latest in technology and marketing innovations software in Virtual Reality VR is a great way to stay not steps but miles ahead of the competition. That’s where we can help.</p>
        <div class="animation-recomend__column animation-recomend__column_left">
            <h2 class="animation-recomend__title">Requirements:</h2>
            <p class="animation-recomend__text">Intel core i5 3570/AMD FX-8350 CPU, 8 GB RAM, Nvidia  GeForce GTX 760, 2Gb HDD space<br>
             Windows 7 and higher x64 ONLY</p>
            <h2 class="animation-recomend__title">Recommended:</h2>
            <p class="animation-recomend__text">Intel core i7 6800 CPU, 16 GB RAM, Nvidia  GeForce GTX 1060, 2Gb HDD space</p>
        </div>
        <div class="animation-recomend__column">
            <h2 class="animation-recomend__title">Oculus Rift and VR mode</h2>
            <h2 class="animation-recomend__title">Requirements:</h2>
            <p class="animation-recomend__text">Intel core i7 6800 CPU, 16 GB RAM, Nvidia  GeForce GTX 1060, 3 USB 3.0, HDMI, 2Gb HDD space</p>
        </div>
      
  </div> 
    
    
</section>
