---
layout: default
title: Services
menu: All
category: Services
photo_gallery:
    - image_path: /img/services/visualization/001.jpg
      small_path: /img/services/visualization/small/001.jpg
    - image_path: /img/services/visualization/002.jpg
      small_path: /img/services/visualization/small/002.jpg
    - image_path: /img/services/visualization/003.jpg
      small_path: /img/services/visualization/small/003.jpg
    - image_path: /img/services/visualization/004.jpg
      small_path: /img/services/visualization/small/004.jpg
    - image_path: /img/services/visualization/005.jpg
      small_path: /img/services/visualization/small/005.jpg
    - image_path: /img/services/visualization/006.jpg
      small_path: /img/services/visualization/small/006.jpg
    - image_path: /img/services/visualization/007.jpg
      small_path: /img/services/visualization/small/007.jpg
    - image_path: /img/services/visualization/008.jpg
      small_path: /img/services/visualization/small/008.jpg
    - image_path: /img/services/visualization/009.jpg
      small_path: /img/services/visualization/small/009.jpg
    - image_path: /img/services/visualization/010.jpg
      small_path: /img/services/visualization/small/010.jpg
    - image_path: /img/services/visualization/011.jpg
      small_path: /img/services/visualization/small/011.jpg
    - image_path: /img/services/visualization/012.jpg
      small_path: /img/services/visualization/small/012.jpg
    - image_path: /img/services/visualization/013.jpg
      small_path: /img/services/visualization/small/013.jpg
    - image_path: /img/services/visualization/014.jpg
      small_path: /img/services/visualization/small/014.jpg
    - image_path: /img/services/modelling/001.jpg
      small_path: /img/services/modelling/small/001.jpg
    - image_path: /img/services/modelling/002.jpg
      small_path: /img/services/modelling/small/002.jpg
    - image_path: /img/services/modelling/003.jpg
      small_path: /img/services/modelling/small/003.jpg
    - image_path: /img/services/modelling/004.jpg
      small_path: /img/services/modelling/small/004.jpg
    - image_path: /img/services/modelling/005.jpg
      small_path: /img/services/modelling/small/005.jpg
    - image_path: /img/services/modelling/006.jpg
      small_path: /img/services/modelling/small/006.jpg
    - image_path: /img/services/modelling/007.jpg
      small_path: /img/services/modelling/small/007.jpg
    - image_path: /img/services/modelling/008.jpg
      small_path: /img/services/modelling/008.jpg
    - image_path: /img/services/modelling/009.jpg
      small_path: /img/services/modelling/small/009.jpg
    - image_path: /img/services/modelling/010.jpg
      small_path: /img/services/modelling/small/010.jpg
    - image_path: /img/services/modelling/011.jpg
      small_path: /img/services/modelling/small/011.jpg
    - image_path: /img/services/modelling/012.jpg
      small_path: /img/services/modelling/small/012.jpg
    - image_path: /img/services/modelling/013.jpg
      small_path: /img/services/modelling/small/013.jpg
---
<section class="container">
    <section class="services-top">
        <div class="services-top-title">
            <h1 class="title">SERVICES</h1>
        </div>
        {% include services-menu.html participants=site.data.services_categories %}
    </section>

    <section class="services">
		<div class="grid">
		    {% for image in page.photo_gallery %}
		        <div class="grid__item">
		            <a data-fancybox="gallery" href="{{ image.image_path }}" class="services__link" rel="services-all">
		                <img src="{{ image.small_path }}" alt="{{ image.title }}" class="services__image">
		            </a>
		        </div>
		    {% endfor %}
		</div>
	</section>
</section>
