<section class="footer">
    <div class="container footer__container">
        <div class="footer__column">
            <div class="footer__column-content">
                <div class="footer__title">
                    We offer
                </div>
                <br>
                <div class="footer__description">
                    <a href="/services.html" class="footer__link">Interactive VR</a><br>
                    <a href="/services.html" class="footer__link">3D Modelling</a><br>
                    <a href="/services.html" class="footer__link">Visualization</a><br>
                    <a href="/services.html" class="footer__link">Animation</a><br>
                </div>
            </div>
            <div class="footer__column-content">
                <div class="footer__title">
                    Get in touch
                </div>
                <br>
                <div class="footer__description">
                    <a href="/contacts.html" class="footer__link">Russian Federation</a><br>
                    <a href="/contacts.html" class="footer__link">Greece &amp; Cyprus</a><br>
                    <a href="/contacts.html" class="footer__link">China</a><br>
                </div>
            </div>
        </div>
        <div class="footer__column footer__column_logo">
            <div class="footer__column-content footer__column-content_logo">
                <a href="/index.html">
                    <img src="/img/logo.svg" class="logo footer__logo">
                </a>
                {% include share-links.html %}
            </div>
        </div>

        <div class="footer__column">
            <div class="footer__column-content">
                <div class="footer__title">
                    Media
                </div>
                <br>
                <div class="footer__description">
                    <a href="/blog.html" class="footer__link">{{ site.posts[0].title }}</a>
                </div>
            </div>

            <div class="footer__column-content">
                <div class="footer__title">
                    Navigation
                </div>
                <br>
                <div class="footer__description">
                    <a href="/about.html" class="footer__link">About us</a><br>
                    <a href="/contacts.html" class="footer__link">Contact us</a><br>
                    <a href="/services.html" class="footer__link">Services</a><br>
                    <a href="/blog.html" class="footer__link">Blog</a><br>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="copyright">
    Polygonator.com {{ site.time | date: '%Y' }} © All rights reserved.
</section>

<script src="/js/main.js"></script>
</body>
</html>
