<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }} | {{ site.name }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.description }}">
    
    <meta name="yandex-verification" content="b33fd1c77d48739a" />
    
    <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.25/jquery.fancybox.min.js"></script>
    <script src="//cdn.jsdelivr.net/zepto/1.0rc1/zepto.min.js" type="text/javascript"></script>
    <script src="http://polygonator.com/js/generator.js"></script>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.25/jquery.fancybox.min.css" />
    <link href="http://polygonator.com/libs/jquery.fancybox.min.css" rel="stylesheet">
    <link href="http://polygonator.com/libs/font-awesome.min.css" rel="stylesheet">
    <style>{% include css/style.css %}</style>
</head>
<body>
<section class="header" id="header">
    <div class="container">
        <div class="header__container">
            <a href="/index.html" class="header__logo-wrap">
                <img src="/img/logo.svg" class="logo header__logo">
            </a>

            <button class="header-menu-toggle only-mobile" onclick="toggleMenu()">
                <img src="/img/menu.svg" class="header-menu-toggle__image">
            </button>

            <ul class="header-menu" id="header-menu">
                <li class="header-menu__item">
                    <a href="/about.html" class="header-menu__link  {% if page.title == 'About' %} header-menu__link_active {% endif %}">ABOUT US</a>
                </li>
                <li class="header-menu__item">
                    <a href="/contacts.html" class="header-menu__link {% if page.title == 'Contacts' %} header-menu__link_active {% endif %}">CONTACT US</a>
                </li>
                <li class="header-menu__item">
                    <a href="/services.html" 
                        class="header-menu__link {% if page.category == 'Services' %} header-menu__link_active {% endif %}">
                    SERVICES</a>
                </li>
                <li class="header-menu__item">
                    <a href="/blog.html" 
                    class="header-menu__link {% if page.title == 'Blog' %}header-menu__link_active {% endif %}">
                     BLOG</a>
                </li>
            </ul>
        </div>
    </div>
</section>
