<div class="services-menu">
    <ul class="services-menu__list">
        {% for menu in include.participants %}
            <li class="services-menu__item">
                <a href="{{ menu.link }}" class="services-menu__link {% if page.menu == menu.menu_id%}  services-menu__link_active {% endif %}">{{ menu.name }}</a>
            </li>
        {% endfor %}
    </ul>
</div>

<select class="services-selector-mobile" id="selector-mobile">
    {% for menu in include.participants %}
        <option value="{{ menu.link }}" {% if page.menu == menu.menu_id%} selected {% endif %}">
            {{ menu.name }}
        </option>
    {% endfor %}
</select>