<div class="footer-social">
    
    <!--<iframe src="https://www.facebook.com/plugins/share_button.php? href=http%3A%2F%2Fpolygonator.com%2Finteractive.html&layout=button_count&size=small&mobile_iframe=true&width=105&height=20&appId" width="105" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true">
    </iframe> -->
    
    <a onclick="window.open(this.href, this.target, width=70, height=70); return false;" 
       target="_blank" href="https://www.facebook.com/sharer/?u=https%3A%2F%2Fwww.facebook.com%2Fpolygonator%2F" title="facebook">
        <img style="display: inline" src="/img/facebook.svg" alt="facebook" title="facebook" class="footer-social__img">
    </a>
    <a href="https://twitter.com/Polygonator" target="_blank" title="twitter">
        <img src="/img/twitter.svg" alt="twitter" title="twitter" class="footer-social__img">
    </a>
    <a href="https://www.linkedin.com/company/11055252/" target="_blank">
        <img src="/img/linkedin.svg" alt="linkedin" title="linkedin" class="footer-social__img">
    </a>
    
</div>