<div class="footer-social">
    <a href="https://www.facebook.com/polygonator/" target="_blank" title="facebook">
        <img src="/img/facebook.svg" alt="facebook" title="facebook" class="footer-social__img">
    </a>
    <a href="https://twitter.com/Polygonator" target="_blank" title="twitter">
        <img src="/img/twitter.svg" alt="twitter" title="twitter" class="footer-social__img">
    </a>
    <a href="skype:live:info_651990?add" title="skype">
        <img src="/img/skype.svg" alt="skype" title="skype" class="footer-social__img">
    </a>
    <a href="https://www.linkedin.com/company/11055252/" target="_blank">
        <img src="/img/linkedin.svg" alt="linkedin" title="linkedin" class="footer-social__img">
    </a>
    <a href="https://www.youtube.com/channel/UCgnoQu-8-FtwLUESbT23ZyA" target="_blank" title="youtube">
        <img src="/img/youtube.svg" alt="youtube" title="youtube" class="footer-social__img">
    </a>
</div>